<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>

    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->


   {{>navbar}}


    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">


                    <!-- left side -->

                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/bg3.png" alt="" width="100%">
                        </figure>    
                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Hey , Myself <span class="txt_color"> Ayush Sharma</span></p>
                        <p>I'm An Undergraduate Student Of Information Technology Currently Pursuing My B.E From Jadavpur University. I Am Keenly Interested In Computer Science, Algorithms And Mathematics. I Do Competitive Programming Frequently And Participate In Coding Contests Across Various Platforms Like Codeforces, Codechef, Leetcode. Connect With Me.</p>
                        <a href="https://codeforces.com/profile/XCoder_420"><button class=""> Codeforces </button></a>
                        <a href="https://www.codechef.com/users/xcoder_420"><button class=""> Codechef </button></a>
                        <a href="https://leetcode.com/Xcoder420/"><button class=""> Leetcode </button></a>
                    </div>


                    <!-- right side -->
                    

                </div>
            </div>
        </div>
    </div>

    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

    {{>footer}}
</body>
</html>